VITE_SUPABASE_URL=https://dcezeoqcsiiujdqhdmda.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRjZXplb3Fjc2lpdWpkcWhkbWRhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4NDE0ODQsImV4cCI6MjEwNTQxNzQ4NH0.2pVUE0YzNzW7SyTvl7d-8VqV5ScuCHpUoemt-_hNDj4
VITE_API_URL=http://localhost:3000